/**
 * Page background is fixed width, make whole site have dark BG
 */
html, body {
    background: #454647
}

/**
 * Remove the filter from the landing image, just fade it
 */
#sprd-startpage-teaser.sprd-startpage-teaser div.sprd-startpage-teaser__image {
    filter: none !important;
    opacity: 0.3 !important
}

/**
 * Reducing padding on the about us and removing the second CTA
 */
#sprd-startpage-about-us.sprd-startpage-about-us {
    padding-top: 0
}
#sprd-startpage-about-us.sprd-startpage-about-us div.sprd-startpage-about-us__cta {
    display: none
}

/**
 * Make the CTA buttons match what is used on our landing pages
 */
.sprd-button.sprd-btn-primary {
    font-family: "Ubuntu", sans-serif;
    color: #ffffff !important;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    padding: 0.75em 2em;
    border-radius: 2em;
    background-color: #d9643a !important;
    border: none !important
}

/**
 * Reduce how bright the top border is on the navigation
 */
.SprdMain .sprd-navigation {
    border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
}

/**
 * Give the footer a cute little brand colored divider
 */
footer.sprd-footer::before,
section.sprd-footer::before {
    content: "";
    display: block;
    height: 0.15em;
    width: 30em;
    max-width: 100%;
    margin: 0.5em auto 1em auto;
    background: #D9643A;
}

/**
 * Add some spacing around the service quality footer
 */
.sprd-service-footer {
    margin: 0.8em 0;
}
